#settings
SECRET_KEY=
ALLOWED_HOSTS=
DEBUG=True
CSRF_TRUSTED_ORIGINS=https://<your_syte>.net

# database
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_DB=foodgram
DB_HOST=DB
DB_PORT=5432
